.card {
  border-radius: 0.75rem;
  border: 0.1rem solid black;
  background: cornsilk;
  height: 12rem;
  width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem 1rem;
}

.card-value {
  align-self: center;
  justify-self: center;
}

.card-suit-top {
  align-self: flex-end;
}

.card-suit-bottom {
  align-self: flex-start;
}

@media screen and (max-width: 1024px) {
  .card {
    height: 7rem;
    width: 5rem;
    font-size: 1rem;
    margin: 0.5rem 0.25rem;
  }
}
