.Deck {
    border-radius: 1rem;
    border: .01rem solid #773377;
    background: #773377;
    padding: 1rem 0;
    margin: 1rem;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.deck-icon, .stand-icon, .round-icon, .bet-icon{
    font-size: 14rem;
    align-self: center;
}

.deck-text, .stand-text, .round-text, .bet-text{
    display: none;
}

.deck-icon:hover + .deck-text{
    display: block;
    font-size: 2rem;
    text-align: center;
    color: white;
}