.Dealer {
  border-radius: 1rem;
  border: 0.01rem solid #373737;
  background: #373737;
  padding: 1rem 0;
  margin: 1rem;
  color: #fff;
  height: 30vh;
}

.card-bar {
  background: #fff;
  height: 6rem;
  margin-top: 7.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #000;
}
