.landing-page-container{
    color: white;
    display: flex;
    flex-direction: column;
}

.battle-link{
    border-radius: 1rem;
    background: #373737;
    font-size: 10rem;
    width:max-content;
    align-self: center;
    margin: 1rem 0;
    text-shadow: 0.25rem 0.5rem black;
}

.intro, .description{
    border-top: .25rem solid #373737;
    border-bottom: .25rem solid #373737;
    margin: 1.5rem 0;
    max-width: 75rem;
}

a{
    text-decoration: none;
    color: inherit;
}

a:focus, a:hover, strong{
    color: #737373;
}


@media screen and (max-width:1024px) {
    .battle-link{
        font-size: 4.5rem;
    }
  }